@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'proxima-nova', sans-serif;
    src: url(./assets/fonts/proxima-nova-font.otf);
}

@font-face {
    font-family: 'Staatliches', cursive;
    src: url(./assets/fonts/staatliches-regular.ttf);
}

@font-face {
    font-family: 'Segoe UI', sans-serif;
    src: url(./assets/fonts/segoe-ui.ttf);
}